body {
  background-color: rgb(253, 251, 251);
  font-family: Helvetica, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
}

 p {
  font-size: 18px;
  color: rgb( 12, 10, 20);
  line-height: 1.5;
  font-family: Arial;
 }
 