body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

p {
  font-size: 18px;
  color: rgb(12, 10, 20);
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}
